// -- Viewpoint Heights / Widths Breakpoints  -- //
$sizes: () !default;
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $prop, $abbrev, $prefix in ((width, vw), (height, vh), (max-width, vw, m), (max-height, vh, m)) {
  		@each $size, $length in $sizes {
        @if $size != auto {
          .#{$prefix}#{$abbrev}#{$infix}-#{$size} { #{$prop}: #{$size}#{$abbrev} !important; }
        }
  		}
		}
  }
}