/* == Fonts == */
$font-heading:								"Rubik Dirt";
$font-normal:									"Google Sans Code";
$font-weight-heading:					700;
$font-weight:									400;
$font-spacing-heading:				0.1rem;

/* == Colours == */
$colour-background: 					#ffffff;
$colour-general:              #000000;
$colour-highlight:            #e22ee2;
$colour-how:									#cedd2c;
$colour-title-bar:						#666666;
$colour-column-header:				#47495a;
$colour-column-text:					#6b7c93;
$colour-variants:             (1: #e5e500, 2: #000080, 3: #d40000, 4: #338000);

/* == Background Gradient Colours == */
$bg-dark:											#b18bb5;
$bg-stripe-1:									#ec5cff;
$bg-stripe-2:									#c500cc;
$bg-stripe-3:									#ffffff;
$bg-stripe-4:									#9ca6ad;
$bg-stripe-5:									#bc9dbf;

/* == Extras == */
$anchor-offset:								4rem;
$icon-background:							#ccccaa;

/* == Font Sizes == */
$display1-size:               6rem !default;
$display2-size:               5.5rem !default;
$display3-size:               4.5rem !default;
$display4-size:               3.5rem !default;